body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

p {
    line-height: 1.6;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 0;
    background-color: #4CAF50;
    color: white;
}

.social-links {
    text-align: center;
    margin-top: 1rem;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    
}

.social-links a:hover {
    text-decoration: underline;
}
.icons{
    width: 40px;
    height: 40px;
    margin-left: 40%;
}
.icon{
    width: 40px;
    height: 40px;
    margin-left: 40%;
    margin-top: 20px;
}