.column1{
    float: left;
    width: 30%;
    background-color: orangered;
    height: 100%;
    
    
}
.column2{
    float: right;
    width: 70%;
    
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 25%;
    margin-left: 25%;
    border: 5px solid orange;
    
}
h1{
    text-align: center;
    margin-top: 10%;
    font-size: 40px;
    font-family: sans-serif;
    color: black;
    margin-right: 36%;
}
.list{
    
    font-size: 22px;
    margin-right: 47%;
    margin-left: 20px;
    
    
}
p{
    margin-left:35px ;
    font-size: 20px;
}
H2{
    margin-left: 32px;
    font-family: sans-serif;
}
h3{
    margin-left:27%;
    margin-top: 10%;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.icons{
    width: 40px;
    height: 40px;
    margin-left: 40%;
}
.icon{
    width: 40px;
    height: 40px;
    margin-left: 40%;
    margin-top: 20px;
}